<router-outlet></router-outlet>
<div class="container">

    <div style="text-align:center">
        <br>
              <img src="./assets/symbol.gif" alt="Avatar" style="width:200px" class="center">
              <h3>Byculla Fire Station</h3>
              <p> The Fire Department is committed to creating safer communities through prevention, preparedness, and effective emergency response. It is the mission of the Fire Department to prevent the loss of life and the loss of property by applying all of our professional knowledge and resources.</p>
        
         <br>
         <table style="width:100%">
            <tr>
              <td>Category :</td>
              <td>Fire Brigade Services</td>
            </tr>
            <tr>
              <td>Publish date :	</td>
              <td>November 23, 2014 </td> 
            </tr>
            <tr>
                <td>Address:	</td>
                <td><p>Near Khatau Mill & Opposite Y Bridge,<br> Bapurao Jagtap Road, Byculla,<br> Mumbai - 400027, Maharashtra, INDIA</p> </td> 
              </tr>
              <tr>
                  <td>Phone No:	</td>
                  <td>	+(91)-22-23085991,23085992</td> 
                </tr>
          </table>
            <br><br>
         <p> Byculla Fire Station Head Office in Mumbai, Fire Station Head Office in Byculla Mumbai, Fire Station Head Office in Mumbai Byculla, Fire protection system in Mumbai, Mumbai Fire Station Head Office in Byculla</p>

         
      </div>

</div>