<router-outlet></router-outlet>
<h1 style="text-align: center">Trainings</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">           
              <div class="row">
                 <div class="col-sm-6">  
                    <div class="jumbotron">   
      <h5 style="text-align: center ;  font-size:medium">Fire Safety Training Video</h5>
      <div class="embed-responsive embed-responsive-16by9" style="width: auto;  height: 400px; align-content: center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qhU8BOhrzic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>
    </div>
  
  

    <div class="col-sm-6">
        <div class="jumbotron">  
      <h5 style="text-align: center ;  font-size:medium">How to Operate Fire Extinguisher</h5>

      <div class="embed-responsive embed-responsive-16by9" style="width: auto;  height: 400px; align-content: center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/w4jHpHoYZhk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>
    </div>

  </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">           
          <div class="row">
             <div class="col-sm-6">  
                <div class="jumbotron"> 
      <h5 style="text-align: center;  font-size:medium">Fire Safety Awareness</h5>
      <div class="embed-responsive embed-responsive-16by9" style="width: auto;  height: 400px; align-content: center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/YKgIYadRGjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
  </div>
  <div class="col-sm-6">
      <div class="jumbotron">  
        <h5 style="text-align: center;  font-size:medium">Fire Extinguisher Training</h5>
        <div class="embed-responsive embed-responsive-16by9" style="width: auto;  height: 400px; align-content: center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/leRoRx4mobI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
  
      </div>
    </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">           
          <div class="row">
             <div class="col-sm-6">  
                <div class="jumbotron"> 
          <h5 style="text-align: center;  font-size:medium">Building and Office Evacuation</h5>
          <div class="embed-responsive embed-responsive-16by9" style="width: auto;  height: 400px; align-content: center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/UuTowptYlrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    
        </div>
      </div>
      <div class="col-sm-6">
          <div class="jumbotron">  
            <h5 style="text-align: center;  font-size:medium">Fire Drill Evacuation</h5>
            <div class="embed-responsive embed-responsive-16by9" style="width: auto;  height: 400px; align-content: center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lAB1TM02moQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
      
          </div>
        </div>
</div>
    </div>
</div>
</div>

