<router-outlet></router-outlet>

<body>
    <div class='aa'>
        <div class="img">
            <br><br><br><br><br>
                
            <br><br><br><br><br>
              
              <!----<button type="button" (click) ='fun1()'>Click Me</button>
              
              <a href="#" routerLink='p1' routerLinkActive='active'>About Us</a> -->
             
              <br>
          <br>
          <br>
          <br>
          
              </div>
          
              <div class='aa'>
                  <style> 
                    marquee {
                      width: 100%;
                      padding: 10px 0;
                      background-color: #cc5200;
                    }
                  </style>
                  <marquee direction="scroll">Recent News: In 6 months, the city of Mumbai has suffered 12 major fires with 22 related deaths. </marquee>
                </div>
                <br>
          <div class="yy" >
              <div class='container' style='text-align: center'> 
                <br>
                  <p class='aa' style='text-align:center' >Don't let your future go up in smoke follow Fire Safety</p>
              <form action ="https://www.google.com/search" method="GET">
                <input type="text" name="q" placeholder="Google Search">
                <input type="submit" value="Google Search">
              </form>
          </div>
          <br>
          <div style="text-align:center">
            <br>
                  <img src="./assets/symbol.gif" alt="Avatar" style="width:200px" class="center">
                  <h3>Byculla Fire Station</h3>
                  <p> The Fire Department is committed to creating safer communities through prevention, preparedness, and effective emergency response. It is the mission of the Fire Department to prevent the loss of life and the loss of property by applying all of our professional knowledge and resources.</p>
            
             <br>
                </div>
          </div>
         
         <br><br>
          <mdb-carousel [animation]="'slide'">
              <mdb-carousel-item>
                <img class="d-block w-100" src="./assets/images.jpeg" alt="First slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="./assets/images1.jpeg" alt="Second slide">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="./assets/images2.jpeg" alt="Third slide">
              </mdb-carousel-item>
            </mdb-carousel>
          <br>
          <br>
          
    </div>
    

    <app-usermap></app-usermap>
    <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
            <hr>
          </div>	
      
        </div>
      </section>

